body{
    margin:0.5rem;
    padding:0;
    box-sizing: border-box;

}
.header{
    width: 99vw;
    height:15vh;
    background-color:rgb(148, 21, 148);
}

.input-box{
    margin-top: 15px;
    margin-left: 12px;
    width: 60%;
    height:50px;
    background-color: rgb(22, 164, 207);
}

.box-1{
    margin-top: 12px;
}

.left-content{
    width: 30%;
    height:auto;
}

.right-content{
    width: 30%;
    height:50%;
   
}


.right-box{
    display: inline-block;
    width: 66%;
    height: 68vh;
    margin-top: -15.2rem;
    margin-left: 75.5rem;
    background-color:rgb(22, 164, 207);
}
.footer-content{
    margin-top:10px;
    width: 99vw;
    height: 10.5vh;
    background-color: rgb(14, 105, 133);
}


/* ----------------media query for tablet---------------------------------- */
  @media  only screen and (max-width:1200px){
    .header{
        width: 97.6vw;
        height:15vh;
        background-color:rgb(148, 21, 148);
    }
    .right-box1{
        margin-top: 10rem;
        margin-left: 05px;
        width: 96vw;
        height: 15vh;
        background-color:rgb(22, 164, 207) ;
    }
    
    .right-box{
        display: none;
        /* display:block; */
        /* width: 66%;
        height: 68vh;
        /* margin-top: -15.2rem; */
        /* margin-left: 75.5rem; */
        /* background-color:rgb(22, 164, 207);  */
    }
    .footer-content{
        margin-top:10px;
        width: 97.6vw;
        height: 10.5vh;
        background-color: rgb(14, 105, 133);
    }
    .left-content{
        width: 28%;
        height:40%;
    }
    .input-box{
        margin-top: 15px;
        margin-left: 12px;
        width: 60%;
        height:37px;
        background-color: rgb(22, 164, 207);
    }
    
  }
  @media  only screen and (max-width:800px){
    .header{
        width: 97.6vw;
        height:15vh;
        background-color:rgb(148, 21, 148);
    }
    .right-box1{
        margin-top: 10rem;
        margin-left: 05px;
        width: 96vw;
        height: 15vh;
        background-color:rgb(22, 164, 207) ;
    }
    
    .right-box{
        display: none;
        /* display:block; */
        /* width: 66%;
        height: 68vh;
        /* margin-top: -15.2rem; */
        /* margin-left: 75.5rem; */
        /* background-color:rgb(22, 164, 207);  */
    }
    .footer-content{
        margin-top:10px;
        width: 97.6vw;
        height: 10.5vh;
        background-color: rgb(14, 105, 133);
    }
    .left-content{
        width: 100%;
        height:40%;
    }
    .input-box{
        margin-top: 15px;
        margin-left: 12px;
        width: 95%;
        height:37px;
        background-color: rgb(22, 164, 207);
    }
    
  }

